@model Muhasebe.Models.Fatura

@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="p-box" style="display:inline-block">
    <div class="row">

        <div class="col-md-9">
            <div class="box box-primary">
                <h3 class="box-title">Fatura Detay</h3>
                <div class="box-header with-border">
                    <h3 class="box-title">@Html.DisplayFor(model => model.Aciklama)</h3>

                </div>
                <div class="box-body">
                    <div>
                        <dl class="dl-horizontal">


                            <dt>
                                @Html.DisplayNameFor(model => model.MusteriID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MusteriID)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DuzenlemeTarih)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DuzenlemeTarih)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.VadeTarihi)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.VadeTarihi)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FaturaNoSeri)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FaturaNoSeri)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FaturaNoSira)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FaturaNoSira)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FaturaDovizi)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FaturaDovizi)
                            </dd>
                        </dl>
                    </div>


                    <hr />
                    <div class="table-responsive">
                        <table id="urunler" class="table table-striped table-bordered align-items-baseline" cellspacing="0">
                            <thead style="background-color:lightgray;">
                                <tr style="height:40px;">
                                    <th>
                                        Hizmet/Ürün
                                    </th>
                                    <th>
                                        Miktar
                                    </th>
                                    <th>
                                        BR. FİYAT
                                    </th>
                                    <th>
                                        VERGİ
                                    </th>
                                    <th>
                                        TOPLAM
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.list != null)
                                {
                                    foreach (var itemi in ViewBag.list)
                                    {
                                        <tr>
                                            <td>
                                                @foreach (var item in ViewBag.Urunler)
                                                {
                                                    if (item.Id == itemi.HizmetUrunID)
                                                    {
                                                        @item.Ad
                                                    };
                                                }


                                            </td>
                                            <td>
                                                @itemi.Miktar
                                            </td>
                                            <td>
                                                @itemi.BirimFiyat
                                            </td>
                                            <td>
                                                @itemi.Vergi

                                            </td>
                                            <td>
                                                @itemi.Toplam
                                            </td>
                                        </tr>


                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <div class="col-md-6" style="float:right">

                        @{

                            if (Model != null)
                            {
                                <p style="display:inline-block">Ara Toplam:</p>
                                <input type="text" class="AraToplam" value="@Model.AraToplam" disabled />
                                <hr />
                                <p style="display:inline-block">Toplam KDV:</p>
                                <input type="text" class="KdvToplam" value="@Model.KdvToplam" disabled />
                                <hr />
                                <p style="display:inline-block">Genel Toplam:</p>
                                <input type="text" class="GenelToplam" value="@Model.GenelToplam" disabled />
                                <hr />
                            }
                            else
                            {
                                <p style="display:inline-block">Ara Toplam:</p>
                                <input type="text" class="AraToplam" value="0" disabled />
                                <hr />
                                <p style="display:inline-block">Toplam KDV:</p>
                                <input type="text" class="KdvToplam" value="0" disabled />
                                <hr />
                                <p style="display:inline-block">Genel Toplam:</p>
                                <input type="text" class="GenelToplam" value="0" disabled />
                                <hr />
                            }


                        }
                    </div>
                    <p>
                        @Html.ActionLink("Düzenle", "FaturaEkle", new { id = Model.Id }) |
                        @Html.ActionLink("Listeye Dön", "Faturalar", "Panel")

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body">
                    <button class="btn btn-lg btn-bitbucket">Paylaş</button>
                    <button class="btn btn-lg btn-bitbucket">Yazdır</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                @*<h5 class="box-title" style="background-color:cadetblue">Kalan:</h5>*@
                <div class="box-header with-border" style="background-color:cadetblue">
                    <h3 class="box-title">Kalan: @Model.KalanBorc tl</h3>

                </div>
                <div class="box-body">
                    <a href="#" class="col-md-12 btn btn-lg btn-github" id="tahsilat">Tahsil et</a>
                    <div id="result"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body">
                    <h5>@Html.DisplayFor(model => model.Irsaliye)</h5>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color:aliceblue;" class="col-md-9 box-body">

        <hr />
        <table class="table table-striped table-bordered align-items-baseline col-md-12">
            <thead style="background-color:lightgray;">
                <tr style="height:40px;">
                    <th>
                        Tarih
                    </th>
                    <th>
                        Hesap
                    </th>
                    <th>
                       Tahsilat tür
                    </th>
                    <th>
                        Tutar
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (ViewBag.list != null)
                {
                    foreach (var item in ViewBag.Tahsilatlar)
                    {
                        <tr>
                            <td>
                                @item.Tarih
                            </td>
                            <td>
                                @item.HesapID
                            </td>
                            <td>
                                Müşteriden Tahsilat
                            </td>
                            <td>
                                @item.Meblag

                            </td>

                        </tr>


                    }

                }
            </tbody>
        </table>
        <div style="float:right;margin-right:30px;">
            Kalan:@Model.KalanBorc
        </div>
        

    </div>

</div>
<input type="hidden" id="fatId" value="@Model.Id" />

<script>
    $("#tahsilat").on("click", function () {
        var fatId = $("#fatId").val();

        $("#result").load("/Panel/TahsilatEkle/" + fatId);

    });

    urunlerTablo = $("#urunler").DataTable({
        //responsive: true,
        "paging": false,
        "ordering": false,
        "info": false,
        "searching": false

    });
</script>

