@*@model List<Muhasebe.Models.model_fatura_altUrun_liste>*@
@model Muhasebe.Models.Fatura


@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<form id="faturaEkleKaydetForm" method="post">
    @Html.HiddenFor(model => model.FirstOrDefault().Id)
    <div class="p-box">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Fatura Ekle</h3>
                    </div>
                    <div class="box-body">

                        <div class="form-horizontal">
                            <h4>Fatura</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstOrDefault().Aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FirstOrDefault().Aciklama, new { htmlAttributes = new { @class = "form-control", @id = "Aciklama" } })
                                    @Html.ValidationMessageFor(model => model.FirstOrDefault().Aciklama, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <h5 style="float:right; font-weight:700">Kategoriler</h5>
                                </div>
                                <div class="col-md-10">
                                    @if (ViewBag.katttt == null)
                                    {
                                        <input type="text" name="kategoriler" value="" data-role="tagsinput" />
                                    }
                                    else
                                    {
                                        <input type="text" name="kategoriler" value="@ViewBag.katttt" data-role="tagsinput" />
                                    }

                                </div>
                            </div>

                            <div class="form-group">
                                <p class="control-label col-md-2">Müşteri</p>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.FirstOrDefault().MusteriID, new SelectList(ViewBag.musteri, "Id", "FirmaUnvani"), ""@*, new { htmlAttributes = new { @id = "MusteriID" } }*@)
                                    @Html.ValidationMessageFor(model => model.FirstOrDefault().MusteriID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @if (Model == null)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstOrDefault().Irsaliye, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.FirstOrDefault().Irsaliye, new SelectList(ViewBag.irsaliye, "Ad", "Ad"), new { htmlAttributes = new { @id = "Irsaliye" } })
                                        @Html.ValidationMessageFor(model => model.FirstOrDefault().Irsaliye, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstOrDefault().Irsaliye, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.FirstOrDefault().Irsaliye, new SelectList(ViewBag.irsaliye, "Ad", "Ad"), Model.FirstOrDefault().Irsaliye, new { htmlAttributes = new { @id = "Irsaliye" } })
                                        @Html.ValidationMessageFor(model => model.FirstOrDefault().Irsaliye, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstOrDefault().DuzenlemeTarih, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FirstOrDefault().DuzenlemeTarih, new { htmlAttributes = new { @class = "form-control datepicker", @id = "DuzenlemeTarih" } })
                                    @Html.ValidationMessageFor(model => model.FirstOrDefault().DuzenlemeTarih, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstOrDefault().VadeTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FirstOrDefault().VadeTarihi, new { htmlAttributes = new { @class = "form-control datepicker", @id = "VadeTarihi" } })
                                    @Html.ValidationMessageFor(model => model.FirstOrDefault().VadeTarihi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div>
                                <p class="control-label col-md-2">Fatura No:</p>
                                <div class="form-group col-md-5">
                                    <p class="control-label col-md-2">Seri</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.FirstOrDefault().FaturaNoSira, new { htmlAttributes = new { @class = "", @id = "FaturaNoSeri" } })
                                        @Html.ValidationMessageFor(model => model.FirstOrDefault().FaturaNoSira, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-5">
                                    <p class="control-label col-md-2">Sıra</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.FirstOrDefault().FaturaNoSira, new { htmlAttributes = new { @class = "", @id = "FaturaNoSira" } })
                                        @Html.ValidationMessageFor(model => model.FirstOrDefault().FaturaNoSira, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @if (Model == null)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstOrDefault().FaturaDovizi, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.FirstOrDefault().FaturaDovizi, new SelectList(ViewBag.faturaDoviz, "Ad", "Ad"), new { htmlAttributes = new { @class = "" } })
                                        @Html.ValidationMessageFor(model => model.FirstOrDefault().FaturaDovizi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstOrDefault().FaturaDovizi, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.FirstOrDefault().FaturaDovizi, new SelectList(ViewBag.faturaDoviz, "Ad", "Ad"), Model.FirstOrDefault().FaturaDovizi, new { htmlAttributes = new { @class = "" } })
                                        @Html.ValidationMessageFor(model => model.FirstOrDefault().FaturaDovizi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <a class="btn col-md-12 btn-primary" onclick="return islemler.UrunKaydet()">
                                        <i class="fa fa-save"></i> Kaydet
                                    </a>
                                </div>
                            </div>
                        </div>
                        @*Tablo kısmı*@




                      


                        <hr />
                        <table id="urunler" class="table table-striped table-bordered align-items-baseline col-md-12">
                            <thead style="background-color:lightgray;">
                                <tr style="height:40px;">
                                    <th>
                                        Hizmet/Ürün
                                    </th>
                                    <th>
                                        Miktar
                                    </th>
                                    <th>
                                        BR. FİYAT
                                    </th>
                                    <th>
                                        VERGİ
                                    </th>
                                    <th>
                                        TOPLAM
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itemi in ViewBag.list)
                                {



                                    if (ViewBag.huFatura != null)
                                    {



                                        <tr>
                                            <td>
                                                @*<input class="seciliUrun" type="hidden" value="@seciliUrun" />
                            <select style="margin:15px; width:90%;" class="form-control select2 HizmetUrunID" name="HizmetUrunID" value="@seciliUrun"></select>*@


                                                @Html.DropDownList("urunAd", new SelectList(ViewBag.urun, "Id", "Ad", itemi.HizmetUrunID  ), new {@class= " form-control select2" } )
                                            </td>
                                            <td>
                                                <input style="margin:15px; width:90%;" class="form-control Miktar" type="number" name="Miktar" value="@itemi.Miktar" />
                                            </td>
                                            <td>
                                                <input style="margin:15px; width:90%;" class="form-control BirimFiyat" type="number" name="BirimFiyat" value="@itemi.BirimFiyat" />
                                            </td>
                                            <td>
                                                @Html.DropDownList("urunKdv", new SelectList(ViewBag.kdv, "Id", "Miktar",itemi.Vergi),  new { @class = "form-control" } )
                                                @*<input class="seciliVergi" type="hidden" value="@seciliVergi" />
        <select style="margin:15px; width:90%;" class="form-control Vergi" name="Vergi"><option class="seciliVergii" selected></option></select>*@
                                            </td>
                                            <td>
                                                <input style="margin:15px; width:90%;" class="form-control" type="text">
                                            </td>
                                        </tr>



                                    }

                                }
                            </tbody>
                        </table>


                            <button type="button" id="urunEkle" class="btn col-md-2 btn-primary">Satır Ekle</button>
                            @*<a class="add btn col-md-2 btn-primary">
                Satır Ekle
            </a>*@
                            <hr />
                            <div>
                                @Html.ActionLink("Listeye Dön", "Faturalar")
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    $(function () {
        $('.select2').select2();

        $(".datepicker").datepicker({
            autoclose: true,
        });
        urunlerTablo = $("#urunler").DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
            "columnDefs": [
                { "width": "10%", "targets": 0 }
            ]
        });
        $(document).ready(function () {

            //$("#urunler > tbody > tr").each(function () {

            //    var dat3 = $(".seciliUrun").val();
            //    alert(dat3)
            //    $(".seciliUrunn").append(dat3);

            //    var datVergi = $(".seciliVergi").val();
            //    $(".seciliVergii").append(datVergi);
            //})
            

            $('#urunEkle').on('click', add);
            var dat = $("#urunKdv").html();
            var dat2 = $("#urunAd").html();

            //$(".HizmetUrunID").append(dat2);
            //$(".Vergi").append(dat);


            function add() {
                
                //var data = urunlerTablo
                //       .rows()
                //       .data();
                //alert("hey")

                //var new_chq_no = parseInt($('#total_chq').val()) + 1;
                urunlerTablo.row.add([
                    '<select style="margin:15px; width:90%;" class="form-control select2 HizmetUrunID" name="HizmetUrunID" >' + dat2 + '<select/>', '<input style="margin:15px; width:90%;" class="formcontrol Miktar" type="number" name="Miktar"  value="" />', '<input style="margin:15px; width:90%;" class="form-control BirimFiyat" type="number" name="BirimFiyat" value="" />', '<select  class="form-control Vergi" name="Vergi" >' + dat + '<select/>', '<input style="margin:15px; width:90%;" class="form-control" type="text">']).draw(false);

                //$('#total_chq').val(new_chq_no);
                $('.select2').select2();
            }


        })
    })
 

</script>

