@model IEnumerable<Muhasebe.Models.HizmetUrun>

@{
    ViewBag.Title = "HizmetUrun";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<div class="p-box">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Hizmet/Ürün Liste</h3>

                </div>
                <div class="box-body">
                    <p>

                        <a href="/Panel/HizmetUrunEkle/0"><i class="fa fa-circle-o"></i>Yeni Ekle</a>
                    </p>

                    <section class="content">
                        <div class="container-fluid">
                            <div class="col-md-12">

                                <!-- Table -->
                                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" style="  ">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Ad)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UrunKodu)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.BarkodNumarasi)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Resim)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.AlisSatisBirimi)
                                            </th>

                                            <th style=" width:10% "></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Ad)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UrunKodu)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.BarkodNumarasi)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Resim)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.AlisSatisBirimi)
                                            </th>
                                            <th style=" width:10% "></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            //if (item.Silindi != true)
                                            //{
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Ad)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UrunKodu)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BarkodNumarasi)
                                                </td>
                                                <td>
                                                    <img style="height:50px" src="@Html.DisplayFor(modelItem => item.Resim)" />

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AlisSatisBirimi)
                                                </td>

                                                <td style=" width:10% ">
                                                    <a style="width:100%" class="btn btn-sm btn-bitbucket" href="/Panel/HizmetUrunDetay/@item.Id">Detay</a>

                                                    <button style="width:100%" class="btn btn-sm btn-danger" type="button" onclick="return HizmetUrunSil(@item.Id)">Müşteriyi Sil</button>


                                                </td>
                                            </tr>
                                            @*}*@
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    div.dataTables_wrapper div.dataTables_paginate {
        margin: auto;
        text-align: center
    }
</style>
<script type="text/javascript">
    function HizmetUrunSil(Id) {
        bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
            if (result) {
                var dataObject = {
                    Id: $("#Id").val()
                };
                var form_data = new FormData();
                form_data.append('Id', dataObject);
                window.location = '/Panel/HizmetUrunSil/' + Id;
            }
        });
    }


    $(document).ready(function () {
        var table = $('#datatable').DataTable({
            scrollX: true,
            scrollCollapse: true,
            autoWidth: false,
            paging: true,

            "sDom": '<"row view-filter"<"col-sm-12"<"pull-left"l><"pull-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
            columnDefs: [
                //{ "width": "50px", "targets": [0, 1] },
                //{ "width": "40px", "targets": [4] }
            ]
        });
        $('#datatable').dataTable();
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
