@model Muhasebe.Models.HizmetUrun

@{
    ViewBag.Title = "HizmetUrunEkle";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="p-box">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Hizmet/Ürün Ekle</h3>

                </div>
                <div class="box-body">

                    @using (Html.BeginForm("HizmetUrunEkle", "Panel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="hehe  form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunKodu, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunKodu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UrunKodu, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BarkodNumarasi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BarkodNumarasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BarkodNumarasi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <h5 style="float:right; font-weight:700">Kategoriler</h5>
                            </div>
                            <div class="col-md-10">
                                @if (ViewBag.katttt == null)
                                {
                                    <input type="text" name="kategoriler" value="" data-role="tagsinput" />
                                }
                                else
                                {
                                    <input type="text" name="kategoriler" value="@ViewBag.katttt" data-role="tagsinput" />
                                }


                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Resim, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @*<input class="form-control" type="file" accept="image/*" name="Resim" onchange="loadFile(event)">*@
                                @Html.TextBoxFor(m => m.Resim, new { accept = "image/*", type = "file", onchange = "loadFile(event)" })
                                @if (Model != null)
                                {
                                    if (Model.Resim != null)
                                    {

                                        <img style="max-height:100px" src=" @Html.DisplayFor(model => model.Resim)" id="output" />
                                    }
                                    <img style="max-height:100px" id="output" />
                                    @Html.ValidationMessageFor(model => model.Resim, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    <img style="max-height:100px" id="output" />}

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AlisSatisBirimi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AlisSatisBirimi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AlisSatisBirimi, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        @if (Model != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.StokTakibi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.StokTakibi, new SelectList(ViewBag.stokTakibi, "Ad", "Ad"), Model.StokTakibi, new { onchange = "ddListChange()" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.StokTakibi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.StokTakibi, new SelectList(ViewBag.stokTakibi, "Ad", "Ad"), new { onchange = "ddListChange()" })
                                </div>
                            </div>
                        }
                        <div id="yapilsin">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BaslangicStok, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.BaslangicStok, new { type = "number", htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BaslangicStok, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.KritikStokUyarisi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.KritikStokUyarisi, new { onclick = "myFunction()", htmlAttributes = new { @class = "myCheck3" } })
                                        @*<input type="checkbox" id="myCheck3" name="KritikStokUyarisi" onclick="myFunction()">*@

                                    </div>
                                </div>
                            </div>
                            @if (Model == null)
                            {
                                <div id="myDIV3" style="display:none">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.KritikStokSeviyesi, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="checkbox">
                                                @Html.TextBoxFor(model => model.KritikStokSeviyesi, new { type = "number", htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.KritikStokUyarisi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (Model.KritikStokUyarisi == true)
                                {
                                    <div id="myDIV3" style="display:block">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.KritikStokSeviyesi, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <div class="checkbox">
                                                    @Html.TextBoxFor(model => model.KritikStokSeviyesi, new { type = "number", htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.KritikStokUyarisi, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div id="myDIV3" style="display:none">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.KritikStokSeviyesi, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <div class="checkbox">
                                                    @Html.TextBoxFor(model => model.KritikStokSeviyesi, new { type = "number", htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.KritikStokSeviyesi, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.VergilerHaricAlis, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <span class="currencyinput">
                                    @Html.TextBoxFor(model => model.VergilerHaricAlis, new { type = "number", step = "any", onkeyup = "return isNumber(event)" })
                                    @Html.DropDownListFor(model => model.VergilerHaricAlisTur, new SelectList(ViewBag.dovizTur, "Ad", "Ad"), htmlAttributes: new { @class = "currency-dropdown" })
                                </span>
                                @Html.ValidationMessageFor(model => model.VergilerHaricAlis, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.VergilerHaricSatis, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <span class="currencyinput">
                                    @Html.TextBoxFor(model => model.VergilerHaricSatis, new { type = "number", step = "any", onkeyup = "return isNumber(event)", htmlAttributes = new { @class = "form-control" } })
                                    @Html.DropDownListFor(model => model.VergilerHaricSatisTur, new SelectList(ViewBag.dovizTur, "Ad", "Ad"), htmlAttributes: new { @class = "currency-dropdown" })
                                </span>
                                @Html.ValidationMessageFor(model => model.VergilerHaricSatis, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Kdv, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Kdv, new SelectList(ViewBag.kdv, "Miktar", "Miktar", new { onchange = "kdvislem()" }))
                                @Html.ValidationMessageFor(model => model.Kdv, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Oiv, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                <span class="currencyinput">
                                    @Html.TextBoxFor(model => model.Oiv, new { type = "number", onkeyup = "return isNumber(event)", htmlAttributes = new { @class = "form-control" } })
                                    %
                                </span>
                                @Html.ValidationMessageFor(model => model.Oiv, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AlisOtv, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <span class="currencyinput">
                                    @Html.TextBoxFor(model => model.AlisOtv, new { type = "number", onkeyup = "return isNumber(event)" })
                                    @Html.DropDownListFor(model => model.AlisOtvTur, new SelectList(ViewBag.otvTur, "Ad", "Ad"), htmlAttributes: new { @class = "currency-dropdown" })
                                    @Html.ValidationMessageFor(model => model.AlisOtv, "", new { @class = "text-danger" })
                                </span>

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SatisOtv, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                <span class="currencyinput">
                                    @Html.TextBoxFor(model => model.SatisOtv, new { type = "number", onkeyup = "return isNumber(event)" })
                                    @Html.DropDownListFor(model => model.SatisOtvTur, new SelectList(ViewBag.otvTur, "Ad", "Ad"), htmlAttributes: new { @class = "currency-dropdown" })
                                    @Html.ValidationMessageFor(model => model.SatisOtv, "", new { @class = "text-danger" })
                                </span>

                            </div>
                        </div>
                        vergi dahil alış <input type="number" step=".01" id="vergidahilalis" onkeyup="return isNumber_1(event)" />
                        vergi dahil satış <input type="number" step=".01" id="vergidahilsatis" onkeyup="return isNumber_2()" />

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Kaydet" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

    <div>
        @Html.ActionLink("Listeye Geri Dön", "Index")
    </div>

<script>
    function ddListChange() {
        var hey = $('#StokTakibi option:selected').val();

        var yapilsin = document.getElementById("yapilsin");
        
        if (hey == "YAPILSIN") {
            yapilsin.style.display = "block";
            
        } else {
            yapilsin.style.display = "none";
        }

    };

    function myFunction() {
        var checkBox = document.getElementById("KritikStokUyarisi");
        var x = document.getElementById("myDIV3");

        if (checkBox.checked == true) {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    $('.tagsinputs').tagsinput('refresh');

    var UploadImage = function () {
        var file = $("#SelectImage").get(0).files;
        var data = new FormData;
        data.append("Link", file[0]);
        $.ajax({
            type: "POST",
            url: "/Modul/Dosyalarr",
            data: data,
            contentType: false,
            processData: false,
            success: function (sonuc) {

                if (sonuc) {
                    bootbox.alert({
                        message: "Yüklendi",
                        callback: function () {
                            window.location.reload(true);

                        }
                    })
                    //$("#UploadedImage").append('<img src="/Modul/DisplayingImage?imgID=' + imgID + '"class= dosyalar-image "/>');
                } else {
                    bootbox.alert({
                        message: "Hata.."

                    })
                }

            }
        })
    }

    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };

    function isNumber() {

        var alis = parseFloat( $('#VergilerHaricAlis').val());
        var satis = parseFloat( $('#VergilerHaricSatis').val());
        
        var kdv = parseFloat( $('#Kdv option:selected').val());
        var oiv = parseFloat($('#Oiv').val());
        if (isNaN(oiv)) {
            oiv = 0;
        }
        var alisOtv = parseFloat($('#AlisOtv').val());
        if (isNaN(alisOtv)) {
            alisOtv = 0;
        }
        var alisTur = $('#AlisOtvTur option:selected').val();

        var satisOtv = parseFloat( $('#SatisOtv').val());
        if (isNaN(satisOtv)) {
            satisOtv = 0;
        }
        var satisOtvTur = $('#SatisOtvTur option:selected').val();

        if (alisTur == "%         ") { //alisTur ve satisOtvTur de seçimlerden sonra boşluk var soldaki şekilde yapınca sıkıntı çıkmıyor ama yinede hoş değil

            var alisotvHesap = (alis * alisOtv) / 100 + alis;
            var dahilAlisSonuc = parseFloat((alisotvHesap * (kdv + oiv)) / 100 + alisotvHesap).toFixed(2);

        } else if (alisTur == "₺         ") {
            var alisotvHesap = alis + alisOtv;
            var dahilAlisSonuc = parseFloat((alisotvHesap * (kdv+oiv)) / 100 + alisotvHesap).toFixed(2);
        }

        if (satisOtvTur == "%         ") {
            var satisotvHesap = (satis * satisOtv) / 100 + satis;
            var dahilSatisSonuc = parseFloat((satisotvHesap * (kdv+oiv) ) / 100 + satisotvHesap).toFixed(2);
        } else if (satisOtvTur == "₺         ") {
            var satisotvHesap = satis + satisOtv;
            var dahilSatisSonuc = parseFloat((satisotvHesap * (kdv+oiv)) / 100 + satisotvHesap).toFixed(2);
        }
        $('#vergidahilalis').val(dahilAlisSonuc);
        $('#vergidahilsatis').val(dahilSatisSonuc);

    }

    function isNumber_1() {

        var dahilAlis = parseFloat($('#vergidahilalis').val());
        var kdv = parseFloat($('#Kdv option:selected').val());
        var oiv = parseFloat($('#Oiv').val());
        if (isNaN(oiv)) {
            oiv = 0;
        }
        var alisOtv = parseFloat($('#AlisOtv').val());
        if (isNaN(alisOtv)) {
            alisOtv = 0;
        }
        var alisTur = $('#AlisOtvTur option:selected').val();

        if (alisTur == "%         ") { //alisTur ve satisOtvTur de seçimlerden sonra boşluk var soldaki şekilde yapınca sıkıntı çıkmıyor ama yinede hoş değil
            var toplam = kdv + oiv;
            var otvliAlis = dahilAlis / (1 + (toplam / 100));
            var haricAlisSonuc = parseFloat(otvliAlis / (1 + (alisOtv / 100))).toFixed(2);
        } else if (alisTur == "₺         ") {
            var toplam = kdv + oiv;
            var otvliAlis = dahilAlis / (1 + (toplam / 100));
            var haricAlisSonuc = parseFloat((otvliAlis - alisOtv).toFixed(2));
        }
        $('#VergilerHaricAlis').val(haricAlisSonuc);


    }
    function isNumber_2(evt) {
        var dahilSatis = parseFloat($('#vergidahilsatis').val());
        var kdv = parseFloat($('#Kdv option:selected').val());
        var oiv = parseFloat($('#Oiv').val());
        if (isNaN(oiv)) {
            oiv = 0;
        }
        var satisOtv = parseFloat($('#SatisOtv').val());
        if (isNaN(satisOtv)) {
            satisOtv = 0;
        }
        var satisOtvTur = $('#SatisOtvTur option:selected').val();
        if (satisOtvTur == "%         ") { //alisTur ve satisOtvTur de seçimlerden sonra boşluk var soldaki şekilde yapınca sıkıntı çıkmıyor ama yinede hoş değil
            var toplam = kdv + oiv;

            var otvliSatis = dahilSatis / (1 + (toplam / 100));
            var haricSatisSonuc = parseFloat(otvliSatis / (1 + (satisOtv / 100))).toFixed(2);
        } else if (satisOtvTur == "₺         ") {
            var toplam = kdv + oiv;
            var otvliSatis = dahilSatis / (1 + (toplam / 100));
            var haricSatisSonuc = parseFloat((otvliSatis - satisOtv).toFixed(2));
        }
        $('#VergilerHaricSatis').val(haricSatisSonuc);
    }
    //var kdvislem = function (event) {
        
    //    var alis = parseFloat($('#VergilerHaricAlis').val());
    //    var kdv = parseFloat($('#Kdv option:selected').val());
    //    var alisSonuc = (alis * kdv) / 100 + alis;
    //    alert(alisSonuc);
    //    $('#vergidahilalis').val(alisSonuc);
    //}


</script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
