@model Muhasebe.Models.HizmetUrun

@{
    ViewBag.Title = "HizmetUrunEkle";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="p-box">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Hizmet/Ürün Ekle</h3>

                </div>
                <div class="box-body">

                    @using (Html.BeginForm("HizmetUrunEkle", "Panel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="hehe  form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunKodu, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunKodu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UrunKodu, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BarkodNumarasi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BarkodNumarasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BarkodNumarasi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <h5 style="float:right; font-weight:700">Kategoriler</h5>
                            </div>
                            <div class="col-md-10">
                                @if (ViewBag.katttt == null)
                                {
                                    <input type="text" name="kategoriler" value="" data-role="tagsinput" />
                                }
                                else
                                {
                                    <input type="text" name="kategoriler" value="@ViewBag.katttt" data-role="tagsinput" />
                                }


                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Resim, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                <input class="form-control" type="file" accept="image/*" name="Resim" onchange="loadFile(event)">
                                <img style="max-height:100px" id="output" />
                                @Html.ValidationMessageFor(model => model.Resim, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AlisSatisBirimi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AlisSatisBirimi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AlisSatisBirimi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.StokTakibi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.StokTakibi, new SelectList(ViewBag.stokTakibi, "Ad", "Ad"), new { onchange = "ddListChange()" })
                            </div>
                        </div>
                        <div id="yapilsin">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BaslangicStok, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.BaslangicStok, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BaslangicStok, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.KritikStokUyarisi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <input type="checkbox" id="myCheck3" name="KritikStokUyarisi" onclick="myFunction()">

                                    </div>
                                </div>
                            </div>
                            <div id="myDIV3" style="display:none">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.KritikStokSeviyesi, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.BaslangicStok, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.KritikStokUyarisi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.VergilerHaricAlis, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VergilerHaricAlis, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VergilerHaricAlis, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.VergilerHaricSatis, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VergilerHaricSatis, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VergilerHaricSatis, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Kdv, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Kdv, new SelectList(ViewBag.kdv, "Miktar", "Miktar"))
                                @Html.ValidationMessageFor(model => model.Kdv, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Oiv, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Oiv, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Oiv, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AlisOtv, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AlisOtv, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AlisOtv, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SatisOtv, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SatisOtv, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SatisOtv, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.VergilerDahilAlis, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VergilerDahilAlis, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VergilerDahilAlis, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.VergilerDahilSatis, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VergilerDahilSatis, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VergilerDahilSatis, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

    <div>
        @Html.ActionLink("Listeye Geri Dön", "Index")
    </div>

<script>
    function ddListChange() {
        var hey = $('#StokTakibi option:selected').val();

        var yapilsin = document.getElementById("yapilsin");
        
        if (hey == "YAPILSIN") {
            yapilsin.style.display = "block";
            
        } else {
            yapilsin.style.display = "none";
        }

    };

    function myFunction() {
        var checkBox = document.getElementById("myCheck3");
        var x = document.getElementById("myDIV3");

        if (checkBox.checked == true) {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    $('.tagsinputs').tagsinput('refresh');

    var UploadImage = function () {
        var file = $("#SelectImage").get(0).files;
        var data = new FormData;
        data.append("Link", file[0]);
        $.ajax({
            type: "POST",
            url: "/Modul/Dosyalarr",
            data: data,
            contentType: false,
            processData: false,
            success: function (sonuc) {

                if (sonuc) {
                    bootbox.alert({
                        message: "Yüklendi",
                        callback: function () {
                            window.location.reload(true);

                        }
                    })
                    //$("#UploadedImage").append('<img src="/Modul/DisplayingImage?imgID=' + imgID + '"class= dosyalar-image "/>');
                } else {
                    bootbox.alert({
                        message: "Hata..gerizekalımısın"

                    })
                }

            }
        })
    }

    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
