@model IEnumerable<Muhasebe.Models.Musteri>

@{
    ViewBag.Title = "Musteriler";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Musteriler</h2>

<p>

    <a href="/Panel/MusteriEkle/0"><i class="fa fa-circle-o"></i>Yeni Ekle</a>
</p>

<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            @*<div class="box-header with-border">*@

            @*<div class="panel panel-default">*@
            <!-- Default panel contents -->
            @*<div class="panel-heading">Ürün Listesi</div>*@

            <!-- Table -->
            <table id="datatable" class="table table-striped table-bordered" cellspacing="0" style="  ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirmaUnvani)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KisaIsim)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Mail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TelefonNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FaksNo)
                        </th>
                        <th style=" width:10% "></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirmaUnvani)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KisaIsim)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Mail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TelefonNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FaksNo)
                        </th>
                        <th style=" width:10% "></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.Silindi != true )
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirmaUnvani)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KisaIsim)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Mail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelefonNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FaksNo)
                            </td>

                            <td style=" width:10% ">
                                <a style="width:100%" class="btn btn-sm btn-bitbucket" href="/Panel/MusteriDetay/@item.Id">Detay</a>

                                <button style="width:100%" class="btn btn-sm btn-danger" type="button" onclick="return MusteriSil(@item.Id)" >Müşteriyi Sil</button>


                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<style>
    div.dataTables_wrapper div.dataTables_paginate {
        margin: auto;
        text-align: center
    }

</style>
<script type="text/javascript">
    function MusteriSil(Id) {
        bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
            if (result) {
                var dataObject = {
                    Id: $("#Id").val()
                };
                var form_data = new FormData();
                form_data.append('Id', dataObject);
                window.location = '/Panel/MusteriSil/' + Id;
            }
        });
    }


    $(document).ready(function () {
        var table = $('#datatable').DataTable({
            scrollX: true,
            scrollCollapse: true,
            autoWidth: false,
            paging: true,

            "sDom": '<"row view-filter"<"col-sm-12"<"pull-left"l><"pull-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
            columnDefs: [
                //{ "width": "50px", "targets": [0, 1] },
                //{ "width": "40px", "targets": [4] }
            ]
        });
        $('#datatable').dataTable();
        $("[data-toggle=tooltip]").tooltip();
    });
</script>